[Unit]
Description=Open vSwitch database server for OVN IC Northbound database
After=network.target
PartOf=ovn-ic-db.service
DefaultDependencies=no

[Service]
Type=simple
EnvironmentFile=-/etc/default/ovn-ic
PIDFile=%t/ovn/ovn_ic_nb_db.pid
ExecStart=/usr/share/ovn/scripts/ovn-ctl run_ic_nb_ovsdb $OVN_CTL_OPTS
ExecStop=/usr/share/ovn/scripts/ovn-ctl stop_ic_nb_ovsdb
Restart=on-failure
LimitNOFILE=65535
TimeoutStopSec=15
