#!/usr/bin/make -f
# -*- makefile -*-
# Sample debian/rules that uses debhelper.
#
# This file was originally written by Joey Hess and Craig Small.
# As a special exception, when this file is copied by dh-make into a
# dh-make output file, you may use that output file without restriction.
# This special exception was added by Craig Small in version 0.37 of dh-make.
#
# Modified to make a template file for a multi-binary package with separated
# build-arch and build-indep targets  by Bill Allombert 2001
#export DH_VERBOSE=1

PACKAGE=openvswitch
PACKAGE_DKMS=openvswitch-datapath-dkms
include /usr/share/dpkg/pkg-info.mk

ifneq (,$(filter parallel=%,$(DEB_BUILD_OPTIONS)))
PARALLEL = -j$(patsubst parallel=%,%,$(filter parallel=%,$(DEB_BUILD_OPTIONS)))
else
PARALLEL =
endif

%:
	dh $@ --with autoreconf,python3 --parallel

# use --as-needed only if supported by dh-autoreconf (to simplify backporting)
DH_AS_NEEDED=$(shell dpkg --compare-versions $$(dpkg --status dh-autoreconf | grep Version | cut -d' ' -f2) ge 6 && echo --as-needed)
override_dh_autoreconf:
	dh_autoreconf $(DH_AS_NEEDED)

override_dh_auto_configure:
	dh_auto_configure -- --enable-ssl --enable-shared --with-ovs-source=${OVSDIR}

override_dh_auto_test:
ifeq (,$(filter nocheck,$(DEB_BUILD_OPTIONS)))
	if $(MAKE) check TESTSUITEFLAGS='$(PARALLEL)' RECHECK=yes; then :; \
	else \
		cat tests/testsuite.log; \
		exit 1; \
	fi
endif

override_dh_auto_build:
	dh_auto_build -- dist distdir=ovn

override_dh_auto_clean:
	dh_auto_clean

override_dh_install-arch:
	dh_install

	# ovn-host
	cp debian/ovn-host.template debian/ovn-host/usr/share/ovn/host/default.template

	# ovn-central
	cp debian/ovn-central.template debian/ovn-central/usr/share/ovn/central/default.template

override_dh_install-indep:
	dh_install


override_dh_installinit:
	dh_installinit -R

override_dh_strip:
	dh_strip

override_dh_usrlocal:

override_dh_installman:
	dh_installman --language=C
