# See ovn-northd(8) for details about ovn-northd.
#
# To customize the ovn-northd service, you may create a configuration file
# in the /etc/systemd/system/ovn-northd.d/ directory.  For example, to specify
# additional options to be passed to the "ovn-ctl start_northd" command, you
# could place the following contents in
# /etc/systemd/system/ovn-northd.d/local.conf:
#
#   [System]
#   Environment="OVN_NORTHD_OPTS=--db-nb-sock=/usr/local/var/run/ovn/ovnnb_db.sock --db-sb-sock=/usr/local/var/run/ovn/ovnsb_db.sock"
#
# Alternatively, you may specify environment variables in the file /etc/sysconfig/ovn-northd:
#
#   OVN_NORTHD_OPTS="--db-nb-sock=/usr/local/var/run/ovn/ovnnb_db.sock --db-sb-sock=/usr/local/var/run/ovn/ovnsb_db.sock"

[Unit]
Description=OVN northd management daemon
After=syslog.target

[Service]
Type=oneshot
RemainAfterExit=yes
Environment=OVN_RUNDIR=%t/ovn OVN_DBDIR=/var/lib/ovn
EnvironmentFile=-/etc/sysconfig/ovn
EnvironmentFile=-/etc/sysconfig/ovn-northd
ExecStartPre=-/usr/bin/chown -R ${OVN_USER_ID} ${OVN_DBDIR}
ExecStart=/usr/share/ovn/scripts/ovn-ctl \
          --ovn-user=${OVN_USER_ID} start_northd $OVN_NORTHD_OPTS
ExecStop=/usr/share/ovn/scripts/ovn-ctl stop_northd

[Install]
WantedBy=multi-user.target
